body{
    background-color: #000000;
    height: 100%;
    width: auto;
    font-family: 'Outfit';
    font-style: normal;
    letter-spacing: 0.03em;
}

.wholePage{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #0f142e;
    height: 10000px;
    
}
.first_slide_background{
   
   
}
.first_slide_background img{
    width: 100%;
    min-height: 400px;
    max-height: 800px;
}

.logo{
    position:absolute;
    margin-left:10px;
    margin-top: 10px; 
}
 
.logo img{
    width: 10%;
}

.first_slide_big_logo{

}

.first_slide_big_logo img{
    width: 60%;
    top: 100px;
    right: 150px;    
    /* margin-left: 30px;
    margin-right: 50px;
    margin-top:100px; */
    position:absolute;
}
.tabs{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin-top:-100px;
    width: 100%;
}

.tabs a{
    font-size:2vw;
    color: white;
    position:absolute;
    flex: 1;
    width:fit-content;
    width: -moz-fit-content;
}
.video{
    height: 720px;

}

.video video{
    display: flex;
    object-fit: cover;
    width:100%;
    height: 100%;
    margin-top:-52px;
}

.jefferson_quote{
    display: flex;
    font-size: 2vw;
    color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    margin-top:30px;
}
/* 
.why_rogue_formatting{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap
    
}

.why_rogue_formatting img{
    margin-left: 20px;
    margin-top: 75px;
    /* width: 50%; */
    /* max-height: 60%; 
    float: left;
}

.why_rogue_words_formatting{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    flex-wrap:wrap;
    max-width: 50%;
}
.why_rogue_words_formatting h1{
    margin-right:50px;
    text-align: right;
    /* font-size: 2.2vw; 
    color: white;
    margin-top: 75px;

}

.why_rogue_words_formatting h2{
    color: white;
    /* font-size: 25px; 
    margin-left: 30px;
    margin-right: 20px;
} */


/* 
.what_do_we_do{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1em;
    /* flex-wrap: wrap; 
}

.what_do_we_do img{
    margin-right: 20px;
    margin-top: 75px;
    width: 50%;
    max-height:800px; 
    min-height: 200px;
}

.what_do_we_do_words{
    display: flex;
    flex-direction: column;
    /* font-size: 100%; 
}
.what_do_we_do_words h1{
    margin-left:10%;
    text-align: left;
    color: white;
    margin-top: 75px;

}

.what_do_we_do_words h2{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
} */

.executive{
    margin-top: 100px;
    display:flex;
    justify-content: center;   
    object-fit: cover;
    align-items: center;
}

.float_right  {
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;

}
.float_right h1{
    margin-left:10%;
    text-align: left;
    color: white;
    margin-right: 20px;
    font-size: 3em;

}

.float_right h2{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.float_right img{
    float: right;
    /* max-width: 400px;
    height: auto; */
    width: 25vw;
    padding: 25px;
    padding-left: 100px;
} 

/* .image_float_right {
    float: right;
    margin-right: 50px; 
    padding-left: 25px;
    width: 425px;
} */

.image_float_right video {
    /* width: 100%;  */
    float: right;
    margin-right: 0px; 
    padding-left: 25px;
    float: right;
    width:30%;

}
/* .float_right video{
    float: right;
    max-width: 400px;
    height: auto;
    padding: 25px;
} */





.float_left  {
    margin-top: 100px;
    justify-items: center;
    margin-left: 75px;
    margin-right:75px;  
}
.float_left h1{
    margin-left:15%;
    text-align: left;
    color: white;
    /* margin-top: 75px; */
    text-align: right;
    margin-right: 75px;
    font-size:2.5em;
    margin-top: 0px;

}

.float_left h2{
    color: white;
    margin-left: 40px;
    margin-right: 40px;

}

.float_left img{
    float: left;
    /* max-width: 400px;
    height: 80%; */
    width: 25vw;
    margin-left: 15px;
    padding: 25px;
}

#image_float_left {
    background-color: yellow;
    float: right;
    margin-left: 50px;
    padding: 25px;
}

